<header
  class="sticky top-0 z-50 bg-white border-b border-orange-100 px-6 md:px-12 py-2 relative"
>
  <!-- Loading Bar -->
  <div
    class="absolute bottom-0 left-0 h-[2px] bg-[#FF7620] ease-out transition-all"
    [class.duration-300]="isLoading"
    [class.duration-0]="!isLoading"
    [class.w-full]="isLoading"
    [class.w-0]="!isLoading"
  ></div>

  <!-- Mobile Trigger -->
  <div  class="md:hidden  flex items-center p-0 m-0 justify-center">
    <a
      href="tel:+919876543210"
      class="text-[14px]  text-slate-600 hover:text-[#FF7620] tracking-widest transition-all"
    >
      Helpline Number -9876543210
    </a>
  </div>

  <div class="max-w-[1600px] mx-auto flex justify-between items-center">
    <!-- Logo -->
    <a href="/" class="block w-[150px] cursor-pointer" aria-label="Go to Home">
      <img src="SANATAN3LOGO.svg" alt="Logo" class="w-full h-auto" />
    </a>

    <!-- Desktop Menu Container -->
    <div class="hidden md:flex flex-col items-end space-y-2">
      <!-- Row 1: Helpline Number -->
      <div class="flex items-center p-0 m-0">
        <a
          href="tel:+919876543210"
          class="text-[14px] text-slate-600 hover:text-[#FF7620] tracking-widest transition-all"
        >
          Helpline Number -9876543210
        </a>
      </div>

      <!-- Row 2: Navigation Links -->
      <div class="flex items-center space-x-6">
        <a
          routerLink="/store/home"
          routerLinkActive="text-[#FF7620]"
          class="text-s font-semibold uppercase tracking-widest text-slate-600 hover:text-[#FF7620] transition-all"
        >
          Home
        </a>
        <a
          *ngIf="isLoggedIn$ | async"
          routerLink="/admin/dashboard"
          routerLinkActive="text-[#FF7620]"
          class="text-s font-semibold uppercase tracking-widest text-slate-600 hover:text-[#FF7620] transition-all"
        >
          Dashboard
        </a>

        <a
          routerLink="/store"
          routerLinkActive="text-[#FF7620]"
          class="text-s font-semibold uppercase tracking-widest text-slate-600 hover:text-[#FF7620] transition-all"
        >
          Store
        </a>

        <a
          routerLink="/store/saved"
          class="flex items-center font-semibold space-x-2 text-s font-bold uppercase tracking-widest text-[#FF7620] bg-orange-50 border border-orange-200 px-4 py-2 rounded-full hover:bg-orange-100 transition-all"
        >
          <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 24 24">
            <path
              d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
            />
          </svg>
          <span>SAVED</span>
        </a>

        <a
          *ngIf="isLoggedIn$ | async"
          (click)="onLogout()"
          class="flex items-center  font-semibold space-x-2 text-s font-bold uppercase tracking-widest text-[#FF7620] bg-orange-50 border border-orange-200 px-4 py-2 rounded-full hover:bg-orange-100 transition-all cursor-pointer"
        >
          <span>Logout</span>
        </a>

        <a
          *ngIf="!(isLoggedIn$ | async)"
          routerLink="/admin-login"
          class="text-s font-bold uppercase font-semibold tracking-widest text-slate-600 hover:text-[#FF7620] transition-all"
        >
          Login
        </a>
      </div>
    </div>
    <!-- Mobile Trigger -->
    <button
      (click)="sidebarService.toggle()"
      class="md:hidden p-2 text-[#FF7620] rounded-lg hover:bg-orange-50 transition-all cursor-pointer mt-5"
    >
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        ></path>
      </svg>
    </button>
  </div>
</header>
