<main
  class="max-w-[1600px] w-full mx-auto px-6 py-8 flex-1 flex flex-col relative z-10"
>
  <div
    class="flex flex-col md:flex-row justify-between items-start md:items-center gap-6 mb-10 bg-cyber-card p-1 rounded-2xl"
  >
    <div>
      <h1 class="text-3xl font-bold text-slate-900 tracking-wider uppercase">
        Saved Items ( {{ savedProducts.length }} )
      </h1>
      <p class="text-sm font-medium text-slate-500 mt-1">
        Review your hand-picked items and favorites.
      </p>
    </div>
  </div>

  <div
    *ngIf="isLoading"
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-5 items-stretch"
  >
    <div
      *ngFor="let placeholder of [1, 2, 3, 4, 5, 6]"
      class="bg-white border border-slate-100 rounded-2xl p-4 overflow-hidden space-y-4 animate-pulse shadow-sm"
    >
      <!-- Image Placeholder -->
      <div class="aspect-square w-full bg-slate-200 rounded-xl"></div>

      <!-- Title Placeholder -->
      <div class="h-4 bg-slate-200 rounded w-2/3"></div>

      <!-- Description Placeholder -->
      <div class="h-3 bg-slate-100 rounded w-full"></div>

      <!-- Footer/Price Placeholder -->
      <div class="flex justify-between items-center pt-2">
        <div class="h-5 bg-slate-200 rounded w-1/4"></div>
        <div class="h-7 bg-slate-200 rounded w-1/3"></div>
      </div>
    </div>
  </div>

  <div
    *ngIf="!isLoading && savedProducts.length > 0; else noDataLayout"
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-5 flex-1 items-stretch"
  >
    <div *ngFor="let prod of savedProducts" class="h-full">
      <app-product-card
        [product]="prod"
        [saved]="true"
        (cardClick)="viewProduct($event)"
        (toggleSaved)="toggleSaved($event.product, $event.event)"
        (buyNow)="onOrderNow($event)"
      ></app-product-card>
    </div>
  </div>

  <ng-template #noDataLayout>
    <app-no-data
      *ngIf="!isLoading"
      title="No Saved Items"
      subtitle="Your collection is empty. Start exploring our catalog."
    >
    </app-no-data>
  </ng-template>
</main>
